.form-row {
  display: flex;
  margin-bottom: 0.5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  flex-grow: 1;
  flex-basis: 0;
}

.form-item:first-child {
  margin-left: 0;
}

.form-item-no-grow {
  flex-grow: 0;
}
.form-item > label {
  font-size: 18px;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}

.form-item input,
.form-item select,
.form-item textarea {
  height: 2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  background-color: rgb(84, 95, 250);
  color: aliceblue;
  font-size: 1rem;
  font-weight: normal;
  font-family: "Gotham Rounded";
  outline: none;
}
.form-item input:focus, .form-item select:focus,.form-item textarea:focus{
    border-color: rgb(255, 155, 25);
}

.form-item textarea{
    height: 100%;
    resize: none;
}
.form-item select option {
    background-color: rgb(67, 230, 46);
}

.filepond--root {
    font-family: 'Gotham Rounded';
    margin-bottom: 0;
    font-size: 12px;
}

.filepond--panel-root{
    background-color: rgb(84, 95, 250)
    ;
    border: 1px solid rgb(233, 233, 233);
}

.filepond--drop-label {
    color: aliceblue;
}

.form-row-end {
    justify-content: flex-end;
}
